@import "colors";

$font: avenir;

body {
  margin: 0px;
  padding: 0px;
  font-family: $font;
  background-color: $background-color;
}



#yourcontacts, .add-new-contact {
  margin: 20px 0 0 20px;
}


.contacts {
  margin: 20px 0 0 20px;
  padding: 20px 0;

  table {
    width: 50%;

    th {
      text-align: left;
    }

    td, tr {
      padding: 20px 0;
    }
  }

  .should-contact {
    color: black;
    background-color: $should-contact;
    padding: 4px;
  }
  .shouldnt-contact {
    background-color: $shouldnt-contact;
    padding: 4px;

  }
}