@import "colors";

$font: avenir;

body {
  margin: 0px;
  padding: 0px;
  font-family: $font;
}

.header {
  height: 100px;
  background-color: $header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: avenir;
  font-size: 24px;

   a {
    text-decoration: underline;
    color: black;

    &:hover {
      background-color: white;
    }
   }

  .account, .signin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1vw;
  }

  .signout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1vw;
  }
}

#yourcontacts, .add-new-contact {
  margin: 20px 0 0 20px;
}


.contacts {
  margin: 20px 0 0 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .contact {
    padding: 10px 0;
  }

  .name {
    margin-right: 20px;
  }

  .should-contact {
    color: black;
    background-color: $should-contact;
    padding: 4px;
  }
  .shouldnt-contact {
    background-color: $shouldnt-contact;
    padding: 4px;

  }
  .contact-button {
    margin-left: 20px;
  }

  .contacted{
    margin-left: 20px;
  }
}