.signup-form-wrapper  {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .signup-header {
    h1 {
      text-align: center;
    }
  }

  .signup-form {
    display: flex;
    justify-content: center;
  }

  .links{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
}